{% extends 'base/base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_header.html' %}

<main>
    <div class="content">
        <div class="content__left"></div>
        <div class="content__right">
            <div class="content__form">
                <form class="sign-form" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="top">
                        <h1>CRUD: Log in</h1>

                        <div class="top__nickname">
                            <label for="username" class="nick-label">Username:</label>
                            <input type="text" name="username" id="nickname" placeholder="Username" required>
                        </div>

                        <div class="top__password">
                            <label for="pass" class="pass-label">Password:</label>
                            <input type="password" name="pass" id="password" placeholder="pasword" required>
                        </div>
                    </div>

                    <div class="bottom">

                        <button class="btn" type="submit">
                            <span>Sign In </span>
                            <ion-icon name="arrow-forward-outline" class="btn__arrow"></ion-icon>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}